body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #9c7878, #ebd0d0);
}

footer{
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    font-family: "Libre Baskerville", serif;
}

.header {
    background-image: url('images/frankfurt.webp');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 500px;
    margin: 0 0;
    color : white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: bold;
    font-size: 60px;
}

#places {
    display: flex;
    justify-content: space-around;
    
}
#guide-section{
    display: block;
    width: 50%;
    margin: 0 auto;
    font-family: "Libre Baskerville", serif;
    font-size: 20px;
    text-align: center;
}
#intro {
    margin: 20px;
    padding: 20px;
    font-family: "Libre Baskerville", serif;
    font-size: 20px;
    text-align: center;
}
.place {
    margin: 20px;
    padding: 20px;
    width: 30%;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-family: "Libre Baskerville", serif;
    box-shadow: 0px 5px 10px black;
}

.deck-img {
    display: block;
    margin: 0 auto;
    width: 70%;
    height: 350px;
    border-radius: 800px;
}

.deck-title, .guide-title{
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px 20px;
}
.profile-pic{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}